/*
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color charcoal #292c3c;
@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

window {
    font-size: 1rem;
    font-family: Inter Display;
    background-color: transparent;
}

#outer-box {
    margin: 0.8em;
    background-color: @crust;
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.6);
    border-radius: 0.6em;
    border: 0.06em solid @charcoal;
}

#input {
    padding: 0.8em 1.2em;
    border: none;
    box-shadow: none;
    background-color: @base;
    border-radius: 0;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    border-bottom: 0.06em solid @charcoal;
}

#input image:nth-child(1) {
    margin-right: 0.8em;
}

#scroll {
    padding: 1em;
}

#inner-box #entry {
    color: @text;
    padding: 0.8em;
    border-radius: 0.6em;
}

#inner-box #entry box image {
    margin-right: 0.5em;
}

#inner-box #entry box label {
    opacity: 0.6;
}

#inner-box #entry:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

#inner-box #entry:selected {
    border: none;
    box-shadow: none;
    background-color: @base;
    font-weight: 600;
}

#inner-box #entry:selected box label {
    opacity: 1;
}
