.control_list {
    @include Window;
    padding: $gap-m $gap-s;
    min-width: calc($font-size * 18);

    .head {
        .back {
            border-radius: $radius;
            min-height: calc($font-size * 1.2);
            min-width: calc($font-size * 1.5);
            &:hover {
                background-color: $primary;
                label {
                    color: $crust;
                }
            }
        }
        .switch {
            color: $base;
            background: $base;
            font-size: $font-size;
            border: 0.06em solid $charcoal;

            slider {
                border-radius: 50%;
                box-shadow: none;
                background: $charcoal;
            }

            image {
                color: rgba(0, 0, 0, 0);
            }

            &:checked {
                background: $primary;
                border-color: transparent;

                slider {
                    background: $base;
                }
            }
        }
    }

    scrollable {
        min-height: calc($font-size * 20);

        .list_item {
            padding: $gap-xs $gap-s;
            border-radius: $radius-m;
            margin-top: $gap-s;

            .icon {
                font-size: calc($font-size * 1.2);
                margin-right: $gap-xs;
            }

            box {
                label {
                    &:nth-child(3),
                    &:nth-child(4) {
                        margin-left: $gap-s;
                    }
                }
            }

            &:hover,
            &.active {
                background-color: $lavender;

                box {
                    label {
                        color: $crust;
                    }
                }
            }
        }

        .scan {
            margin: $gap 0;
            padding: $gap-xs;
            border-radius: $radius-m;

            label {
                color: rgba($primary, 0.5);
            }

            &:hover,
            &.active {
                background-color: $primary;
                label {
                    color: $crust;
                }
            }
        }
    }

    .setting {
        background-color: $charcoal;
        padding: $gap-xs;
        border-radius: $radius-m;

        &:hover {
            background-color: $primary;
            label {
                color: $crust;
            }
        }
    }
}
