@import './toggle.scss';

.system_tray {
    @include Window;
    padding: 0;

    box {
        margin: $gap-xs;

        .systemtray_item {
            @include Button;

            padding: $gap-xs;
        }
    }
}
