@import './toggle.scss';

.system_tray {
    @include Window;
    padding: $gap-xs;

    box {
        margin: $gap-xs;
        .systemtray_item {
            @include Button;
            padding: $gap-xs;
        }
    }
}
