.system-info {
    .item {
        margin-right: $gap-s;

        .icon {
            min-height: $bar-inner-height;
            min-width: $bar-inner-height;
            margin-right: $gap-s;
            border-radius: 50%;
            background-color: $base;
            border: 0.06em solid $charcoal;
            font-size: calc($font-size/1.2);
            font-weight: 600;
            transition: 0.3s;
        }
    }

    eventbox {
        &:hover {
            .item {
                .icon {
                    background-color: $lavender;
                    color: $crust;
                    border-color: $lavender;
                }
            }
        }
    }
}
